---
const pageTitle = "Austin Liu: Page not found";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-slate-50">
    <div class="w-screen h-screen flex flex-col justify-center items-center">
      <div class="w-96">
        <h1 class="text-3xl font-bold mt-3 mb-5">Page not found! 😱</h1>
        <h3>
          Don't worry! Nothing bad happened, but the page you're looking for
          isn't on my website. Make sure that the URL you've typed is correct.
          If you believe that this is a mistake, please reach out to me using my <span
            class="my-1 box-content font-medium pb-px border-b border-slate-500 hover:pb-0 hover:border-b-2"
            ><a href="/contact" rel="prefetch">contact form.</a>
          </span>
        </h3>
      </div>
    </div>
    <footer
      class="text-slate-700 w-full ml-auto mr-auto absolute bottom-4 text-center"
    >
      <p><small>© 2024 Austin Liu</small></p>
    </footer>
  </body>
</html>
