---
import { Image } from "@astrojs/image/components";

const { src, alt } = Astro.props;
---

<div class="my-4 object-cover last:mt-4 last:mb-1 first:mb-4 first:mt-1">
  <Image src={src} width={1600} alt={alt} format="avif" />
</div>
