---
import Page from "./Page.astro";
import { SEO } from "astro-seo";

const { title, description } = Astro.props;
---

<Page>
  <SEO
    title={title + " | Austin Liu"}
    description={description}
    openGraph={{
      basic: {
        title: "Austin Liu",
        type: "profile",
        image: "/image.jpeg",
      },
      optional: {
        description: description,
      },
      image: {
        alt: "Train tracks in Hakone, Kanagawa Prefecture",
      },
    }}
    slot="head"
  />
  <div>
    <slot />
  </div>
</Page>
