---
import Page from "./Page.astro";
---

<Page>
  <div
    class="prose prose-a:no-underline prose-a:font-medium prose-a:pb-px prose-a:border-b prose-a:border-sky-500 hover:prose-a:pb-0 hover:prose-a:border-b-2 after:prose-a:content-['_↗']"
  >
    <slot />
  </div>
</Page>
