---
import Page from "./Page.astro";
import { SEO } from "astro-seo";

const { frontmatter } = Astro.props;
---

<Page>
  <SEO
    title={frontmatter.title + " | Austin Liu"}
    description={frontmatter.description}
    openGraph={{
      basic: {
        title: "Austin Liu",
        type: "profile",
        image: "/image.jpeg",
      },
      optional: {
        description: frontmatter.description,
      },
      image: {
        alt: "Train tracks in Hakone, Kanagawa Prefecture",
      },
    }}
    slot="head"
  />
  <div
    class="prose-sm prose-a:no-underline prose-a:font-medium prose-a:pb-px prose-a:border-b prose-a:border-slate-500 hover:prose-a:pb-0 hover:prose-a:border-b-2"
  >
    <slot />
  </div>
</Page>
