---
const { frontmatter } = Astro.props;

import Section from "../components/Section.astro";
import IconLabel from "../components/IconLabel.astro";
import ExternalLinkText from "../components/ExternalLinkText.astro";
import InternalLink from "../components/InternalLink.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <slot name="head" />
  </head>
  <body class="bg-slate-200">
    <div
      class="w-full flex flex-col justify-center px-20 mt-10 lg:block lg:m-auto lg:w-[1024px] lg:mt-10 lg:px-24"
    >
      <header class="text-sm lg:w-64 lg:fixed lg:float-left">
        <Section>
          <!-- <picture>
            <source srcset="/image.jpeg" type="image/jpeg" />
            <img
              src="/image.jpeg"
              alt="Train tracks in Hakone, Kanagawa Prefecture"
              class="rounded-md mt-1 h-96 min-w-full object-cover object-[60%_80%] lg:h-fit lg:w-fit"
            />
          </picture> -->
          <!-- <Picture
            class="rounded-md"
            src="/src/assets/AustinLiu.png"
            alt="Image of Austin Liu"
            preload="png"
            placeholder="none"
            attributes={{
              img: {
                class:
                  "rounded-md mt-1 h-96 min-w-full object-cover object-[60%_80%] lg:h-fit lg:w-fit",
              },
            }}
          /> -->
          <h1 class="text-2xl font-bold mt-3 mb-1.5">Austin Liu</h1>
          <p>Freshman at Duke University</p>
        </Section>
        <Section>
          <IconLabel src="/icons/map-pin.svg"><p>Durham, NC</p></IconLabel>
        </Section>
        <Section>
          <IconLabel src="/icons/home.svg">
            <InternalLink href="/">Home</InternalLink>
          </IconLabel>
          <IconLabel src="/icons/book-open.svg">
            <InternalLink href="/research">Research</InternalLink>
          </IconLabel>
          <!-- <IconLabel src="/icons/camera.svg">
            <InternalLink href="/photography">Photography</InternalLink>
          </IconLabel>
          <IconLabel src="/icons/coffee.svg">
            <InternalLink href="/cooking">Cooking</InternalLink>
          </IconLabel> -->
          <IconLabel src="/icons/mail.svg">
            <InternalLink href="/contact">Contact</InternalLink>
          </IconLabel>
        </Section>
        <Section>
          <IconLabel src="/icons/github.svg">
            <ExternalLinkText href="https://www.github.com/ajzliu/"
              >GitHub</ExternalLinkText
            >
          </IconLabel>
          <IconLabel src="/icons/linkedin.svg">
            <ExternalLinkText href="https://www.linkedin.com/in/ajzliu/"
              >Linkedin</ExternalLinkText
            >
          </IconLabel>
          <IconLabel src="/icons/ORCIDiD_iconbwvector.svg">
            <ExternalLinkText href="https://orcid.org/0000-0002-2690-6164"
              >ORCiD</ExternalLinkText
            >
          </IconLabel>
        </Section>
      </header>

      <hr class="rounded-md border-2 w-[80%] mx-auto my-6 lg:hidden" />

      <main class="lg:w-[32rem] lg:float-right lg:mb-6">
        <slot />
      </main>

      <footer
        class="mx-auto my-6 lg:m-0 lg:w-64 text-slate-700 lg:fixed lg:float-left lg:bottom-6"
      >
        <p><small>© 2024 Austin Liu</small></p>
      </footer>
    </div>
  </body>
</html>
